
.about-section{
	box-shadow: 34px 19px 42px -18px rgba(0,0,0,0.35);
	-webkit-box-shadow: 34px 19px 42px -18px rgba(0,0,0,0.35);
	-moz-box-shadow: 34px 19px 42px -18px rgba(0,0,0,0.35);
	margin-top: 50px;
	height: 450px;
}




.about-image img{
	height: 300px;
	width: 300px;
	border-radius: 190px;
	margin-top: 50px;
	border: 5px solid #e3e3e3;
	margin: 50px;
	object-fit: cover;
}

.about-details{
	margin-top: 50px;
}

.about-details p{
	font-family: 'Roboto', sans-serif;
	padding-right: 10px;
	font-size: 18px;
}

.about-title{
	margin-bottom: 20px;
}

.about-title h5{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	margin-bottom: 0;
}

.line{
	display: block;
	width: 70px;
	height: 3px;
	margin: 1px auto;
	background-color: yellowgreen;
	margin-bottom: 5px;
}

@media (max-width:1000px)  {
	.about-section{
		height: auto;
	}

	.about-image{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.about-details p{
		font-size: 15px;
	}
}