

.contact-section{
	height: 1000px;
	
}

.contact-form-image img{
	height: 600px;
	width: 100%;
	border-radius: 20px;
	object-fit: none;
}

.Contact-form input{
	height: 40px;
	border-radius: 10px;
	margin-top: 10px;
	width: 100%;
	margin-bottom: 20px;
}

.custom-select-tag{
	height: 40px;
	border-radius: 10px;
	margin-top: 10px;
	width: 100%;
	margin-bottom: 20px;
}

.Contact-form textarea{
	height: 100px;
	border-radius: 10px;
	margin-top: 10px;
	width: 100%;
	margin-bottom: 30px;
}

.button-submit p{
	background-color: #282828;
	padding: 10px;
	border-radius: 30px;
	color: white;
	width: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button-submit p:hover{
	background-color: tomato;
	transition: 1s	;
}

.contact-form-design{
	padding: 0 20px 20px 20px;
	box-shadow: 19px 11px 12px -7px rgba(0,0,0,0.51);
	-webkit-box-shadow: 19px 11px 12px -7px rgba(0,0,0,0.51);
	-moz-box-shadow: 19px 11px 12px -7px rgba(0,0,0,0.51);
}

.contact-form-design:hover{
	box-shadow: 1px 33px 12px -7px rgba(0,0,0,0.51);
	-webkit-box-shadow: 1px 33px 12px -7px rgba(0,0,0,0.51);
	-moz-box-shadow: 1px 33px 12px -7px rgba(0,0,0,0.51);
	transition: 1s;
}